<div class="container">
<h1 class="title">QUOTES</h1>
<ul class="grid cards">
  <li><h2>Mahatma Gandhi</h2>
    <p>“Live as if you were to die tomorrow. Learn as if you were to live forever.”
    </p>
    <button class="button"><span>upvotevote</span></button><button class="button"><span>downvote</span></button>
  </li>
  <li><h2>Friedrich Nietzsche</h2>
    <p>“If you look at what you have in life, you’ll always have more. If you look at what you don’t have in life, you’ll never have enough.”
    </p>
    <button class="button"><span>upvotevote</span></button><button class="button"><span>downvote</span></button>
  </li>
  <li><h2>Bernard M. Baruch</h2>
    <p>“Be who you are and say what you feel, because those who mind don’t matter and those who matter don’t mind.”
    </p>
    <button class="button"><span>upvotevote</span></button><button class="button"><span>downvote</span></button>
  </li>
  <li><h2>Plato</h2>
    <p>“Wise men speak because they have something to say; fools because they have to say something.”
    </p>
    <button class="button"><span>upvotevote</span></button><button class="button"><span>downvote</span></button>
  </li>
  <li><h2>Robert Frost</h2>
    <p>“Two roads diverged in a wood, and I—I took the one less traveled by, And that has made all the difference.”
    </p>
    <button class="button"><span>upvotevote</span></button><button class="button"><span>downvote</span></button>
  </li>

</ul>
</div>

